<?xml version="1.0" encoding="UTF-8"?>
<!--

    Elastic Grid
    Copyright (C) 2007-2008 Elastic Grid, LLC.
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.
    
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.
    
    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="Console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <!--<param name="ConversionPattern" value="%d %-5p %c{2} - %m%n"/>-->
            <param name="ConversionPattern" value="%5p [%c] %m%n"/>
        </layout>
    </appender>

    <category name="com.elasticgrid">
        <level value="debug"/>        
    </category>

    <root>
        <level value="warn"/>
        <appender-ref ref="Console"/>
    </root>

</log4j:configuration>