import net.jini.discovery.LookupDiscovery;
import net.jini.discovery.LookupDiscoveryManager;

net.jini.lookup.ServiceDiscoveryManager {
    discoveryListener = new com.elasticgrid.test.DebugDiscoveryListener();
    discoveryManager = new LookupDiscoveryManager(LookupDiscovery.ALL_GROUPS, null,
                                discoveryListener, this);
}