<?xml version="1.0" encoding="UTF-8"?>
<!--

    Elastic Grid
    Copyright (C) 2008-2009 Elastic Grid, LLC.
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.
    
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.
    
    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<context:component-scan base-package="com.elasticgrid.platforms.ec2"/>-->

    <bean id="ec2CloudPlatformManager" class="com.elasticgrid.platforms.ec2.EC2CloudPlatformManager">
        <property name="dropBucket" value="${eg.s3.dropBucket}"/>
        <property name="overridesBucket" value="${eg.s3.overridesBucket}"/>
        <property name="awsAccessID" value="${aws.accessId}"/>
        <property name="awsSecretKey" value="${aws.secretKey}"/>
        <property name="awsSecured" value="${aws.ec2.secured}"/>
        <property name="keyName" value="${aws.ec2.keypair}"/>
        <property name="ami32" value="${aws.ec2.ami32}"/>
        <property name="ami64" value="${aws.ec2.ami64}"/>
    </bean>

    <bean id="ec2Instantiator" class="com.elasticgrid.platforms.ec2.EC2InstantiatorImpl">
        <property name="ec2" ref="jec2"/>
    </bean>

    <bean id="ec2SecurityGroupsClusterLocator" class="com.elasticgrid.platforms.ec2.discovery.EC2SecurityGroupsClusterLocator">
        <property name="ec2" ref="jec2"/>
    </bean>

    <bean id="jec2" class="com.xerox.amazonws.ec2.Jec2">
        <constructor-arg index="0" value="${aws.accessId}"/>
        <constructor-arg index="1" value="${aws.secretKey}"/>
        <constructor-arg index="2" value="${aws.ec2.secured}"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>file:${EG_HOME}/config/eg.properties</value>
                <value>file:${user.home}/.eg/eg.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
    </bean>

</beans>

