<?xml version="1.0" encoding="UTF-8"?>
<!--

    Elastic Grid
    Copyright (C) 2008-2009 Elastic Grid, LLC.
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.
    
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.
    
    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="classpath:/com/elasticgrid/cluster/applicationContext.xml"/>

    <bean id="application" class="com.elasticgrid.rest.RestApplication">
        <property name="name" value="Elastic Grid REST API"/>
        <property name="author" value="Elastic Grid, LLC."/>
        <property name="root" ref="root"/>
    </bean>

    <bean id="root" class="org.restlet.ext.spring.SpringRouter">
        <property name="attachments">
            <map>
                <entry key="/eg" value-ref="clustersFinder"/>
                <entry key="/eg/{clusterName}" value-ref="clusterFinder"/>
                <entry key="/eg/{clusterName}/applications" value-ref="applicationsFinder"/>
                <entry key="/eg/{clusterName}/applications/{applicationName}" value-ref="applicationFinder"/>
                <entry key="/eg/{clusterName}/applications/{applicationName}/services" value-ref="servicesFinder"/>
                <entry key="/eg/{clusterName}/applications/{applicationName}/services/{serviceName}" value-ref="serviceFinder"/>
            </map>
        </property>
    </bean>

    <bean id="clustersFinder" class="org.restlet.ext.spring.SpringFinder">
        <lookup-method name="createResource" bean="clustersResource"/>
        <property name="targetClass" value="com.elasticgrid.rest.ClustersResource"/>
    </bean>
    <bean id="clusterFinder" class="org.restlet.ext.spring.SpringFinder">
		<lookup-method name="createResource" bean="clusterResource"/>
        <property name="targetClass" value="com.elasticgrid.rest.ClusterResource"/>
	</bean>
    <bean id="applicationsFinder" class="org.restlet.ext.spring.SpringFinder">
		<lookup-method name="createResource" bean="applicationsResource"/>
        <property name="targetClass" value="com.elasticgrid.rest.ApplicationsResource"/>
	</bean>
    <bean id="applicationFinder" class="org.restlet.ext.spring.SpringFinder">
		<lookup-method name="createResource" bean="applicationResource"/>
        <property name="targetClass" value="com.elasticgrid.rest.ApplicationResource"/>
	</bean>
    <bean id="servicesFinder" class="org.restlet.ext.spring.SpringFinder">
		<lookup-method name="createResource" bean="servicesResource"/>
        <property name="targetClass" value="com.elasticgrid.rest.ServicesResource"/>
	</bean>
    <bean id="serviceFinder" class="org.restlet.ext.spring.SpringFinder">
		<lookup-method name="createResource" bean="serviceResource"/>
        <property name="targetClass" value="com.elasticgrid.rest.ServiceResource"/>
	</bean>

    <bean id="clustersResource" class="com.elasticgrid.rest.ClustersResource" scope="prototype"/>
    <bean id="clusterResource" class="com.elasticgrid.rest.ClusterResource" scope="prototype"/>
    <bean id="applicationsResource" class="com.elasticgrid.rest.ApplicationsResource" scope="prototype"/>
    <bean id="applicationResource" class="com.elasticgrid.rest.ApplicationResource" scope="prototype"/>
    <bean id="servicesResource" class="com.elasticgrid.rest.ServicesResource" scope="prototype"/>
    <bean id="serviceResource" class="com.elasticgrid.rest.ServiceResource" scope="prototype"/>

    <bean id="s3" class="org.jets3t.service.impl.rest.httpclient.RestS3Service">
        <constructor-arg>
            <bean class="org.jets3t.service.security.AWSCredentials">
                <constructor-arg index="0" value="${aws.accessId}"/>
                <constructor-arg index="1" value="${aws.secretKey}"/>
            </bean>
        </constructor-arg>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>file:${EG_HOME}/config/eg.properties</value>
                <value>file:${user.home}/.eg/eg.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
    </bean>

</beans>
